table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 10%;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
}

.mine {
    position: fixed;
    bottom: 40px;
    right: 20px;
}

a {
    text-decoration: none;
    color: grey;
}

.title {
    margin-left: 10%;
}