table {
    min-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.mat-form-field {
    font-size: 14px;
    width: 10%;
}

mat-form-field {
    margin-left: 10%;
}

.mine {
    position: fixed;
    bottom: 40px;
    right: 20px;
}

a {
    text-decoration: none;
    color: grey;
}

.title {
    margin-left: 10%;
}