<div class="container">

    <h3 class="title">Conference details</h3>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ details?.name }}</mat-card-title>
            <mat-card-subtitle>🌍 {{ details?.city}}, {{ details?.country }} <span
                    [className]="'flag-icon flag-icon-' + details?.country | lowercase"></span></mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <br />
            <table>
                <tr>
                    <td><span class="key">🌍 City:</span></td>
                    <td>&nbsp;&nbsp;{{ details?.city }}</td>
                </tr>
                <tr [hidden]="details?.province == 'N/A'">
                    <td><span class="key">📍 Province:</span></td>
                    <td>&nbsp;&nbsp;{{ details?.province }}</td>
                </tr>
                <tr [hidden]="details?.twitter == 'N/A'">
                    <td><span class="key">📲 Twitter:</span></td>
                    <td>&nbsp;&nbsp;<a href="https://twitter.com/{{ details?.twitter }}" target="_blank"
                            rel="noopener">{{ details?.twitter }}</a></td>
                </tr>
                <tr>
                    <td><span class="key">🌐 Website:</span></td>
                    <td>&nbsp;&nbsp;&nbsp;<a href="{{ details?.website }}" target="_blank" rel="noopener">{{
                            details?.website }}</a></td>
                </tr>
                <tr
                    [hidden]="!details?.code_of_conduct || details?.code_of_conduct == 'N/A' || details?.code_of_conduct == 'Not populated yet'">
                    <td><span class="key">😊 Code of Conduct:</span></td>
                    <td>&nbsp;&nbsp;<span *ngIf="details?.code_of_conduct.indexOf('http')!=-1; else notShow"><a
                                href="{{ details?.code_of_conduct }}">{{ details?.code_of_conduct }}</a></span>
                    </td>
                    <ng-template #notShow>{{ details?.code_of_conduct }}</ng-template>
                </tr>
                <tr>
                    <td><span class="key">📆 Conference Date:</span></td>
                    <td>&nbsp;&nbsp;<a href="https://api.cfptime.org/calendar/conference/{{ details?.id}}">{{
                            details?.conf_start_date
                            | date:'medium' }}&nbsp;<mat-icon>calendar_today</mat-icon></a></td>
                </tr>
            </table>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
    </mat-card>
</div>