<h1 mat-dialog-title>Hey, we need you 👽</h1>
<div mat-dialog-content>
  <p>This website is just a side-project of mine (with personal fundings) and for that, we need you 💁</p>

  <p>Any help is greatly appreciated! 🍻 (Especially for paying the infrastructure)</p>
</div>
<div mat-dialog-actions>
  <button mat-button cdkFocusInitial mat-dialog-close (click)='sponsorMe()' style="color: orange">
    <mat-icon>grade</mat-icon>&nbsp;w00t, l3t m3 g3t y0u 4 c0ff33! ☕
  </button>
  <button mat-button mat-dialog-close>Ok, got it! 🍾</button>
</div>