<h1 mat-dialog-title>Hey, we need you :)</h1>
<div mat-dialog-content>
  <p>CFP Time has a new shape and we hope you all appreciate it!<br />
    This website is just a side-project of mine (with personal fundings).</p>

  <p>We are not using any ads, neither selling anything to anyone but just receiving support from the community. If
    you'd like to help us, feel free to tip us with a coffee :)</p>
</div>
<div mat-dialog-actions>
  <button mat-button cdkFocusInitial mat-dialog-close (click)='sponsorMe()' style="color: gold">
    <mat-icon>grade</mat-icon>&nbsp;w00t, l3t m3 g3t y0u 4 c0ff33!
  </button>
  <button mat-button mat-dialog-close>Ok, got it!</button>
</div>
