table {
    // margin-left: 100px;
    // margin-right: 50px;
    width: 100%;
    margin-right: 100px;
    // width: 50%;
}

.mat-form-field {
    font-size: 14px;
    width: 10%;
}

mat-form-field {
    margin-left: 10%;
}

// .container {
//     // margin-left: 10%;
//     margin-right:10% !important;
// }

.mine {
    position: fixed;
    bottom: 40px;
    right: 20px;
}

a {
    text-decoration: none;
    color: grey;
}

.title {
    margin-left: 10%;
}