table {
    margin-right: 100px;
    margin-left:10%;
    margin-right:20%;
    width: 80%;
}

.mat-form-field {
    font-size: 14px;
    width: 10%;
}

mat-form-field {
    margin-left: 10%;
}

.mine {
    position: fixed;
    bottom: 150px;
    right: 60px;
}

a {
    text-decoration: none;
    color: grey;
}

.title {
    margin-left: 10%;
}
